
.vs/MugstoreManagement/v16/.suo
.vs/MugstoreManagement/config/applicationhost.config
.vs/MugstoreManagement/config/debuggerConfiguration-1e0f0a20-022f-4ae4-861a-5da7d87883e7.json
.vs/MugstoreManagement/DesignTimeBuild/.dtbcache.v2
Client/obj/Debug/net5.0/blazor.boot.json
Client/obj/Debug/net5.0/build-gz/+1zuTIum.gz
Client/obj/Debug/net5.0/build-gz/+2rFMyX1.gz
Client/obj/Debug/net5.0/build-gz/+DqPgVDQ.gz
Client/obj/Debug/net5.0/build-gz/21nErjvR.gz
Client/obj/Debug/net5.0/build-gz/1Yxm5DuA.gz
Client/obj/Debug/net5.0/build-gz/1kc1due3.gz
Client/obj/Debug/net5.0/build-gz/1KBUYI2i.gz
Client/obj/Debug/net5.0/build-gz/+rjXSs+i.gz
Client/obj/Debug/net5.0/build-gz/+tQ9bC1h.gz
Client/obj/Debug/net5.0/build-gz/0HKaQSld.gz
Client/obj/Debug/net5.0/build-gz/2dptycmt.gz
Client/obj/Debug/net5.0/build-gz/2KrSxgB7.gz
Client/obj/Debug/net5.0/build-gz/2mpoX7ij.gz
Client/obj/Debug/net5.0/build-gz/2N4D3dA8.gz
Client/obj/Debug/net5.0/build-gz/2YmPDKwX.gz
Client/obj/Debug/net5.0/build-gz/3cBva0sq.gz
Client/obj/Debug/net5.0/build-gz/3Dw6YzEF.gz
Client/obj/Debug/net5.0/build-gz/3gHHtHKH.gz
Client/obj/Debug/net5.0/build-gz/3JAbzkg8.gz
Client/obj/Debug/net5.0/build-gz/3k0gH8de.gz
Client/obj/Debug/net5.0/build-gz/3Ly4OMAY.gz
Client/obj/Debug/net5.0/build-gz/3ZOW9c05.gz
Client/obj/Debug/net5.0/build-gz/41QJIJ9c.gz
Client/obj/Debug/net5.0/build-gz/4o38+SWZ.gz
Client/obj/Debug/net5.0/build-gz/51w+dl9b.gz
Client/obj/Debug/net5.0/build-gz/5DjmSQWn.gz
Client/obj/Debug/net5.0/build-gz/5f0kk+zY.gz
Client/obj/Debug/net5.0/build-gz/5loeSJfc.gz
Client/obj/Debug/net5.0/build-gz/5lqaXOdo.gz
Client/obj/Debug/net5.0/build-gz/5RVen0jf.gz
Client/obj/Debug/net5.0/build-gz/69WFeLt2.gz
Client/obj/Debug/net5.0/build-gz/6i1NRL+Q.gz
Client/obj/Debug/net5.0/build-gz/6NByDgeQ.gz
Client/obj/Debug/net5.0/build-gz/6rdK8cS3.gz
Client/obj/Debug/net5.0/build-gz/6UjSJfNF.gz
Client/obj/Debug/net5.0/build-gz/6YaAcCvA.gz
Client/obj/Debug/net5.0/build-gz/7n2QBUJ5.gz
Client/obj/Debug/net5.0/build-gz/7pjxfsdw.gz
Client/obj/Debug/net5.0/build-gz/80re9xVq.gz
Client/obj/Debug/net5.0/build-gz/91i+j7Sq.gz
Client/obj/Debug/net5.0/build-gz/8narvGvn.gz
Client/obj/Debug/net5.0/build-gz/8lkEEp0N.gz
Client/obj/Debug/net5.0/build-gz/8dIVRia2.gz
Client/obj/Debug/net5.0/build-gz/8lerZFGw.gz
Client/obj/Debug/net5.0/build-gz/C1546ySi.gz
Client/obj/Debug/net5.0/build-gz/byXufAGt.gz
Client/obj/Debug/net5.0/build-gz/bRNl3sgU.gz
Client/obj/Debug/net5.0/build-gz/bh2isTf2.gz
Client/obj/Debug/net5.0/build-gz/BegJwmtG.gz
Client/obj/Debug/net5.0/build-gz/BECCYdgG.gz
Client/obj/Debug/net5.0/build-gz/BcsbhYDp.gz
Client/obj/Debug/net5.0/build-gz/Ba6dHCeB.gz
Client/obj/Debug/net5.0/build-gz/aZMcKzCY.gz
Client/obj/Debug/net5.0/build-gz/AovGWdua.gz
Client/obj/Debug/net5.0/build-gz/aFmnAOHx.gz
Client/obj/Debug/net5.0/build-gz/aEiO+bz1.gz
Client/obj/Debug/net5.0/build-gz/acosO+Rh.gz
Client/obj/Debug/net5.0/build-gz/A8eQPzmT.gz
Client/obj/Debug/net5.0/build-gz/a3vu7R6Y.gz
Client/obj/Debug/net5.0/build-gz/9IOI2yrX.gz
Client/obj/Debug/net5.0/build-gz/99bxnqDU.gz
Client/obj/Debug/net5.0/build-gz/D53vWMNC.gz
Client/obj/Debug/net5.0/build-gz/D+dl6AuH.gz
Client/obj/Debug/net5.0/build-gz/CzCHG+qv.gz
Client/obj/Debug/net5.0/build-gz/CqnyWYcf.gz
Client/obj/Debug/net5.0/build-gz/CoUM25a4.gz
Client/obj/Debug/net5.0/build-gz/CkvkGu+b.gz
Client/obj/Debug/net5.0/build-gz/CADaIxCX.gz
Client/obj/Debug/net5.0/build-gz/c3cAV+Xb.gz
Client/obj/Debug/net5.0/build-gz/d5lk3IWD.gz
Client/obj/Debug/net5.0/build-gz/d7EJWyOB.gz
Client/obj/Debug/net5.0/build-gz/dLIBBrlj.gz
Client/obj/Debug/net5.0/build-gz/dnOEz+si.gz
Client/obj/Debug/net5.0/build-gz/DrFY+X+V.gz
Client/obj/Debug/net5.0/build-gz/DtuZHmfl.gz
Client/obj/Debug/net5.0/build-gz/E5anCDfm.gz
Client/obj/Debug/net5.0/build-gz/EbyNFyYz.gz
Client/obj/Debug/net5.0/build-gz/EDObJbOt.gz
Client/obj/Debug/net5.0/build-gz/fgoJEUQ8.gz
Client/obj/Debug/net5.0/build-gz/fmRdy7QB.gz
Client/obj/Debug/net5.0/build-gz/Fp2W0gY8.gz
Client/obj/Debug/net5.0/build-gz/FWgnBAfA.gz
Client/obj/Debug/net5.0/build-gz/FXxh+MXc.gz
Client/obj/Debug/net5.0/build-gz/G84WZ0r4.gz
Client/obj/Debug/net5.0/build-gz/ga1GuDtD.gz
Client/obj/Debug/net5.0/build-gz/GcviiWvE.gz
Client/obj/Debug/net5.0/build-gz/feACcswV.gz
Client/obj/Debug/net5.0/build-gz/FbcBGoat.gz
Client/obj/Debug/net5.0/build-gz/F3EhOhQF.gz
Client/obj/Debug/net5.0/build-gz/GDCGMSCK.gz
Client/obj/Debug/net5.0/build-gz/GiMbN+lN.gz
Client/obj/Debug/net5.0/build-gz/GipxLwJS.gz
Client/obj/Debug/net5.0/build-gz/GN2pFLII.gz
Client/obj/Debug/net5.0/build-gz/GoL9JPWS.gz
Client/obj/Debug/net5.0/build-gz/GQW3Os99.gz
Client/obj/Debug/net5.0/build-gz/GxSdiJeE.gz
Client/obj/Debug/net5.0/build-gz/h0LCA7u7.gz
Client/obj/Debug/net5.0/build-gz/hAzYz6of.gz
Client/obj/Debug/net5.0/build-gz/HcicO6tI.gz
Client/obj/Debug/net5.0/build-gz/HHp9+tv0.gz
Client/obj/Debug/net5.0/build-gz/hePc15qG.gz
Client/obj/Debug/net5.0/build-gz/HMjvhqTE.gz
Client/obj/Debug/net5.0/build-gz/HOvdlIZ0.gz
Client/obj/Debug/net5.0/build-gz/iYbE0m+q.gz
Client/obj/Debug/net5.0/build-gz/iyFZNPJe.gz
Client/obj/Debug/net5.0/build-gz/IZFPjpo8.gz
Client/obj/Debug/net5.0/build-gz/J5dcyfV9.gz
Client/obj/Debug/net5.0/build-gz/jKs+0kJS.gz
Client/obj/Debug/net5.0/build-gz/K69mzXbd.gz
Client/obj/Debug/net5.0/build-gz/Jqy878gS.gz
Client/obj/Debug/net5.0/build-gz/JBsphj9G.gz
Client/obj/Debug/net5.0/build-gz/J4ZcAFLh.gz
Client/obj/Debug/net5.0/build-gz/IkspeVk8.gz
Client/obj/Debug/net5.0/build-gz/K7mjjeBW.gz
Client/obj/Debug/net5.0/build-gz/kechVJa6.gz
Client/obj/Debug/net5.0/build-gz/KivP7js2.gz
Client/obj/Debug/net5.0/build-gz/kL90nVb2.gz
Client/obj/Debug/net5.0/build-gz/kmtvEzvS.gz
Client/obj/Debug/net5.0/build-gz/KSno7npJ.gz
Client/obj/Debug/net5.0/build-gz/lCM1UU5R.gz
Client/obj/Debug/net5.0/build-gz/kU0yIiDL.gz
Client/obj/Debug/net5.0/build-gz/LcZQipHV.gz
Client/obj/Debug/net5.0/build-gz/lHmr63WT.gz
Client/obj/Debug/net5.0/build-gz/LLHWBNdE.gz
Client/obj/Debug/net5.0/build-gz/LwSBDi9W.gz
Client/obj/Debug/net5.0/build-gz/lZNxek6e.gz
Client/obj/Debug/net5.0/build-gz/m2oqf1Xl.gz
Client/obj/Debug/net5.0/build-gz/Mc9+3CWT.gz
Client/obj/Debug/net5.0/build-gz/MIryOjlk.gz
Client/obj/Debug/net5.0/build-gz/N0FDShLA.gz
Client/obj/Debug/net5.0/build-gz/NB2EtMG2.gz
Client/obj/Debug/net5.0/build-gz/NcTWz1qk.gz
Client/obj/Debug/net5.0/build-gz/NFRhGsTB.gz
Client/obj/Debug/net5.0/build-gz/NGgOPi8E.gz
Client/obj/Debug/net5.0/build-gz/nqwXV1u7.gz
Client/obj/Debug/net5.0/build-gz/nzQqRn2d.gz
Client/obj/Debug/net5.0/build-gz/O5+ZfcWj.gz
Client/obj/Debug/net5.0/build-gz/o5IcZzWL.gz
Client/obj/Debug/net5.0/build-gz/O7TMQBhf.gz
Client/obj/Debug/net5.0/build-gz/OA0JRww2.gz
Client/obj/Debug/net5.0/build-gz/oEi+E3yn.gz
Client/obj/Debug/net5.0/build-gz/omoHXuEX.gz
Client/obj/Debug/net5.0/build-gz/oMty0zvk.gz
Client/obj/Debug/net5.0/build-gz/oQRcxYfA.gz
Client/obj/Debug/net5.0/build-gz/OrDME2Z0.gz
Client/obj/Debug/net5.0/build-gz/pVEtciX9.gz
Client/obj/Debug/net5.0/build-gz/oYYly++Z.gz
Client/obj/Debug/net5.0/build-gz/q2itWuze.gz
Client/obj/Debug/net5.0/build-gz/Q6wbwcU9.gz
Client/obj/Debug/net5.0/build-gz/QA6N0YWH.gz
Client/obj/Debug/net5.0/build-gz/Qb7XoVoM.gz
Client/obj/Debug/net5.0/build-gz/qjggrp7E.gz
Client/obj/Debug/net5.0/build-gz/qOtbv85w.gz
Client/obj/Debug/net5.0/build-gz/QvFXnE4o.gz
Client/obj/Debug/net5.0/build-gz/R7a9bCLn.gz
Client/obj/Debug/net5.0/build-gz/qwTM7MD9.gz
Client/obj/Debug/net5.0/build-gz/rB2SRQdH.gz
Client/obj/Debug/net5.0/build-gz/RdWkKXNy.gz
Client/obj/Debug/net5.0/build-gz/ReFP2sW5.gz
Client/obj/Debug/net5.0/build-gz/RTyK3N+4.gz
Client/obj/Debug/net5.0/build-gz/s0MnKLil.gz
Client/obj/Debug/net5.0/build-gz/s3sz+c6P.gz
Client/obj/Debug/net5.0/build-gz/sAmMCJmc.gz
Client/obj/Debug/net5.0/build-gz/SbmW0y3f.gz
Client/obj/Debug/net5.0/build-gz/sDPdBG12.gz
Client/obj/Debug/net5.0/build-gz/SIDzmwz8.gz
Client/obj/Debug/net5.0/build-gz/Sv+DTjUF.gz
Client/obj/Debug/net5.0/build-gz/sZYFsRb2.gz
Client/obj/Debug/net5.0/build-gz/szzdCyKC.gz
Client/obj/Debug/net5.0/build-gz/T+b6ERKa.gz
Client/obj/Debug/net5.0/build-gz/t7zb39gT.gz
Client/obj/Debug/net5.0/build-gz/TBbKmAFD.gz
Client/obj/Debug/net5.0/build-gz/Tj7JW4+b.gz
Client/obj/Debug/net5.0/build-gz/tdveEB88.gz
Client/obj/Debug/net5.0/build-gz/TkR6+YXJ.gz
Client/obj/Debug/net5.0/build-gz/tXkl1f7U.gz
Client/obj/Debug/net5.0/build-gz/tXP+zel1.gz
Client/obj/Debug/net5.0/build-gz/tyKbMMEP.gz
Client/obj/Debug/net5.0/build-gz/UBfwkiZq.gz
Client/obj/Debug/net5.0/build-gz/ue6rYeCq.gz
Client/obj/Debug/net5.0/build-gz/UkQ2YjoF.gz
Client/obj/Debug/net5.0/build-gz/uQYUyoXN.gz
Client/obj/Debug/net5.0/build-gz/VOoDF1bU.gz
Client/obj/Debug/net5.0/build-gz/Vv8D5rLv.gz
Client/obj/Debug/net5.0/build-gz/w07z7K+z.gz
Client/obj/Debug/net5.0/build-gz/w0d7d9qm.gz
Client/obj/Debug/net5.0/build-gz/w7j5t9pA.gz
Client/obj/Debug/net5.0/build-gz/wNsiIHM4.gz
Client/obj/Debug/net5.0/build-gz/x1u9BEcd.gz
Client/obj/Debug/net5.0/build-gz/XPDO+PAs.gz
Client/obj/Debug/net5.0/build-gz/XPOfjmEl.gz
Client/obj/Debug/net5.0/build-gz/Yext1OTu.gz
Client/obj/Debug/net5.0/build-gz/y+vEegsO.gz
Client/obj/Debug/net5.0/dotnet.5.0.5.js
Client/obj/Debug/net5.0/build-gz/zc+WYZBL.gz
Client/obj/Debug/net5.0/build-gz/yuUfbJMq.gz
Client/obj/Debug/net5.0/build-gz/Yie12dN3.gz
Client/obj/Debug/net5.0/MugstoreManagement.Client.AssemblyInfo.cs
Client/obj/Debug/net5.0/MugstoreManagement.Client.assets.cache
Client/obj/Debug/net5.0/MugstoreManagement.Client.csproj.CoreCompileInputs.cache
Client/obj/Debug/net5.0/MugstoreManagement.Client.csproj.FileListAbsolute.txt
Client/obj/Debug/net5.0/MugstoreManagement.Client.dll
Client/obj/Debug/net5.0/MugstoreManagement.Client.csprojAssemblyReference.cache
Client/obj/Debug/net5.0/MugstoreManagement.Client.pdb
Client/obj/Debug/net5.0/Razor/_Imports.razor.g.cs
Client/obj/Debug/net5.0/Razor/App.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/Authentication.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/Counter.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/FetchData.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/LoginDisplay.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/NavMenu.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/RedirectToLogin.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/SurveyPrompt.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/MugstoreManagement.Client.dll
Client/obj/Debug/net5.0/RazorDeclaration/MugstoreManagement.Client.pdb
Client/obj/Debug/net5.0/RazorDeclaration/Pages/Authentication.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Pages/FetchData.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Pages/Counter.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/LoginDisplay.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/NavMenu.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/RedirectToLogin.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
Client/obj/Debug/net5.0/ref/MugstoreManagement.Client.dll
Client/obj/Debug/net5.0/scopedcss/bundle/MugstoreManagement.Client.styles.css
Client/obj/Debug/net5.0/scopedcss/projectbundle/MugstoreManagement.Client.bundle.scp.css
Client/obj/Debug/net5.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
Client/obj/Debug/net5.0/service-worker-assets.js
Client/obj/Debug/net5.0/serviceworkers/wwwroot/service-worker.js
Client/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Client.StaticWebAssets.Manifest.cache
Client/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Client.StaticWebAssets.xml
Client/obj/MugstoreManagement.Client.csproj.nuget.dgspec.json
Client/obj/MugstoreManagement.Client.csproj.nuget.g.props
Client/obj/project.assets.json
Client/obj/project.nuget.cache
Server/bin/Debug/net5.0/MugstoreManagement.Client.dll
Server/bin/Debug/net5.0/MugstoreManagement.Client.pdb
Server/bin/Debug/net5.0/MugstoreManagement.Client.StaticWebAssets.xml
Server/bin/Debug/net5.0/MugstoreManagement.Server.dll
Server/bin/Debug/net5.0/MugstoreManagement.Server.pdb
Server/bin/Debug/net5.0/MugstoreManagement.Server.runtimeconfig.dev.json
Server/bin/Debug/net5.0/MugstoreManagement.Server.StaticWebAssets.xml
Server/bin/Debug/net5.0/MugstoreManagement.Server.Views.dll
Server/bin/Debug/net5.0/MugstoreManagement.Server.Views.pdb
Server/bin/Debug/net5.0/MugstoreManagement.Shared.dll
Server/bin/Debug/net5.0/MugstoreManagement.Shared.pdb
Server/obj/Debug/net5.0/MugstoreManagement.Server.assets.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.csproj.FileListAbsolute.txt
Server/obj/Debug/net5.0/MugstoreManagement.Server.csprojAssemblyReference.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.dll
Server/obj/Debug/net5.0/MugstoreManagement.Server.genruntimeconfig.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.MvcApplicationPartsAssemblyInfo.cs
Server/obj/Debug/net5.0/MugstoreManagement.Server.pdb
Server/obj/Debug/net5.0/MugstoreManagement.Server.Views.dll
Server/obj/Debug/net5.0/MugstoreManagement.Server.Views.pdb
Server/obj/Debug/net5.0/Razor/Areas/Identity/Pages/Shared/_LoginPartial.cshtml.g.cs
Server/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
Server/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Server.StaticWebAssets.Manifest.cache
Server/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Server.StaticWebAssets.xml
Server/obj/MugstoreManagement.Server.csproj.nuget.dgspec.json
Server/obj/MugstoreManagement.Server.csproj.nuget.g.props
Server/obj/project.assets.json
Server/obj/project.nuget.cache
Shared/bin/Debug/net5.0/MugstoreManagement.Shared.dll
Shared/bin/Debug/net5.0/MugstoreManagement.Shared.pdb
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.AssemblyInfo.cs
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.assets.cache
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.csproj.FileListAbsolute.txt
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.csprojAssemblyReference.cache
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.dll
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.pdb
Shared/obj/MugstoreManagement.Shared.csproj.nuget.dgspec.json
Shared/obj/MugstoreManagement.Shared.csproj.nuget.g.props
Shared/obj/project.assets.json
Shared/obj/project.nuget.cache
Client/obj/Debug/net5.0/build-gz/ICvsLG+0.gz
Client/obj/Debug/net5.0/build-gz/ia8tZ+L0.gz
Client/obj/Debug/net5.0/build-gz/HZ9tDUJZ.gz
Client/bin/Debug/net5.0/wwwroot/service-worker.js
Client/bin/Debug/net5.0/wwwroot/service-worker-assets.js
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Shared.pdb
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Shared.dll.gz
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Shared.dll
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Client.pdb
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Client.dll
Client/bin/Debug/net5.0/wwwroot/_framework/dotnet.5.0.5.js
Client/bin/Debug/net5.0/wwwroot/_framework/blazor.boot.json
Client/bin/Debug/net5.0/ref/MugstoreManagement.Client.dll
Client/bin/Debug/net5.0/MugstoreManagement.Client.StaticWebAssets.xml
Client/bin/Debug/net5.0/MugstoreManagement.Client.pdb
Client/bin/Debug/net5.0/MugstoreManagement.Client.dll
Client/obj/Debug/net5.0/blazor.boot.json
Client/obj/Debug/net5.0/dotnet.5.0.5.js
Client/obj/Debug/net5.0/MugstoreManagement.Client.AssemblyInfo.cs
Client/obj/Debug/net5.0/MugstoreManagement.Client.assets.cache
Client/obj/Debug/net5.0/MugstoreManagement.Client.csproj.CoreCompileInputs.cache
Client/obj/Debug/net5.0/MugstoreManagement.Client.csproj.FileListAbsolute.txt
Client/obj/Debug/net5.0/MugstoreManagement.Client.dll
Client/obj/Debug/net5.0/MugstoreManagement.Client.csprojAssemblyReference.cache
Client/obj/Debug/net5.0/MugstoreManagement.Client.pdb
Client/obj/Debug/net5.0/Razor/_Imports.razor.g.cs
Client/obj/Debug/net5.0/Razor/App.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/Authentication.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/Counter.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/FetchData.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/LoginDisplay.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/NavMenu.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/RedirectToLogin.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/SurveyPrompt.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/MugstoreManagement.Client.dll
Client/obj/Debug/net5.0/RazorDeclaration/MugstoreManagement.Client.pdb
Client/obj/Debug/net5.0/RazorDeclaration/Pages/Authentication.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Pages/FetchData.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Pages/Counter.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/LoginDisplay.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/NavMenu.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/RedirectToLogin.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
Client/obj/Debug/net5.0/ref/MugstoreManagement.Client.dll
Client/obj/Debug/net5.0/scopedcss/bundle/MugstoreManagement.Client.styles.css
Client/obj/Debug/net5.0/scopedcss/projectbundle/MugstoreManagement.Client.bundle.scp.css
Client/obj/Debug/net5.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
Client/obj/Debug/net5.0/service-worker-assets.js
Client/obj/Debug/net5.0/serviceworkers/wwwroot/service-worker.js
Client/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Client.StaticWebAssets.Manifest.cache
Client/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Client.StaticWebAssets.xml
Client/obj/MugstoreManagement.Client.csproj.nuget.dgspec.json
Client/obj/MugstoreManagement.Client.csproj.nuget.g.props
Client/obj/project.assets.json
Client/obj/project.nuget.cache
Server/bin/Debug/net5.0/MugstoreManagement.Client.dll
Server/bin/Debug/net5.0/MugstoreManagement.Client.pdb
Server/bin/Debug/net5.0/MugstoreManagement.Client.StaticWebAssets.xml
Server/bin/Debug/net5.0/MugstoreManagement.Server.dll
Server/bin/Debug/net5.0/MugstoreManagement.Server.pdb
Server/bin/Debug/net5.0/MugstoreManagement.Server.runtimeconfig.dev.json
Server/bin/Debug/net5.0/MugstoreManagement.Server.StaticWebAssets.xml
Server/bin/Debug/net5.0/MugstoreManagement.Server.Views.dll
Server/bin/Debug/net5.0/MugstoreManagement.Server.Views.pdb
Server/bin/Debug/net5.0/MugstoreManagement.Shared.dll
Server/bin/Debug/net5.0/MugstoreManagement.Shared.pdb
Server/obj/Debug/net5.0/MugstoreManagement.Server.assets.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.csproj.FileListAbsolute.txt
Server/obj/Debug/net5.0/MugstoreManagement.Server.csprojAssemblyReference.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.dll
Server/obj/Debug/net5.0/MugstoreManagement.Server.genruntimeconfig.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.MvcApplicationPartsAssemblyInfo.cs
Server/obj/Debug/net5.0/MugstoreManagement.Server.pdb
Server/obj/Debug/net5.0/MugstoreManagement.Server.Views.dll
Server/obj/Debug/net5.0/MugstoreManagement.Server.Views.pdb
Server/obj/Debug/net5.0/Razor/Areas/Identity/Pages/Shared/_LoginPartial.cshtml.g.cs
Server/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
Server/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Server.StaticWebAssets.Manifest.cache
Server/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Server.StaticWebAssets.xml
Server/obj/MugstoreManagement.Server.csproj.nuget.dgspec.json
Server/obj/MugstoreManagement.Server.csproj.nuget.g.props
Server/obj/project.assets.json
Server/obj/project.nuget.cache
Shared/bin/Debug/net5.0/MugstoreManagement.Shared.dll
Shared/bin/Debug/net5.0/MugstoreManagement.Shared.pdb
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.AssemblyInfo.cs
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.assets.cache
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.csproj.FileListAbsolute.txt
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.csprojAssemblyReference.cache
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.dll
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.pdb
Shared/obj/MugstoreManagement.Shared.csproj.nuget.dgspec.json
Shared/obj/MugstoreManagement.Shared.csproj.nuget.g.props
Shared/obj/project.assets.json
Shared/obj/project.nuget.cache
Client/bin/Debug/net5.0/wwwroot/service-worker.js
Client/bin/Debug/net5.0/wwwroot/service-worker-assets.js
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Shared.pdb
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Shared.dll.gz
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Shared.dll
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Client.pdb
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Client.dll
Client/bin/Debug/net5.0/wwwroot/_framework/dotnet.5.0.5.js
Client/bin/Debug/net5.0/wwwroot/_framework/blazor.boot.json
Client/bin/Debug/net5.0/ref/MugstoreManagement.Client.dll
Client/bin/Debug/net5.0/MugstoreManagement.Client.StaticWebAssets.xml
Client/bin/Debug/net5.0/MugstoreManagement.Client.pdb
Client/bin/Debug/net5.0/MugstoreManagement.Client.dll
Client/obj/Debug/net5.0/blazor.boot.json
Client/obj/Debug/net5.0/dotnet.5.0.5.js
Client/obj/Debug/net5.0/MugstoreManagement.Client.AssemblyInfo.cs
Client/obj/Debug/net5.0/MugstoreManagement.Client.assets.cache
Client/obj/Debug/net5.0/MugstoreManagement.Client.csproj.CoreCompileInputs.cache
Client/obj/Debug/net5.0/MugstoreManagement.Client.csproj.FileListAbsolute.txt
Client/obj/Debug/net5.0/MugstoreManagement.Client.dll
Client/obj/Debug/net5.0/MugstoreManagement.Client.csprojAssemblyReference.cache
Client/obj/Debug/net5.0/MugstoreManagement.Client.pdb
Client/obj/Debug/net5.0/Razor/_Imports.razor.g.cs
Client/obj/Debug/net5.0/Razor/App.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/Authentication.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/Counter.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/FetchData.razor.g.cs
Client/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/LoginDisplay.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/NavMenu.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/RedirectToLogin.razor.g.cs
Client/obj/Debug/net5.0/Razor/Shared/SurveyPrompt.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/MugstoreManagement.Client.dll
Client/obj/Debug/net5.0/RazorDeclaration/MugstoreManagement.Client.pdb
Client/obj/Debug/net5.0/RazorDeclaration/Pages/Authentication.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Pages/FetchData.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Pages/Counter.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/LoginDisplay.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/NavMenu.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/RedirectToLogin.razor.g.cs
Client/obj/Debug/net5.0/RazorDeclaration/Shared/SurveyPrompt.razor.g.cs
Client/obj/Debug/net5.0/ref/MugstoreManagement.Client.dll
Client/obj/Debug/net5.0/scopedcss/bundle/MugstoreManagement.Client.styles.css
Client/obj/Debug/net5.0/scopedcss/projectbundle/MugstoreManagement.Client.bundle.scp.css
Client/obj/Debug/net5.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
Client/obj/Debug/net5.0/service-worker-assets.js
Client/obj/Debug/net5.0/serviceworkers/wwwroot/service-worker.js
Client/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Client.StaticWebAssets.Manifest.cache
Client/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Client.StaticWebAssets.xml
Client/obj/MugstoreManagement.Client.csproj.nuget.dgspec.json
Client/obj/MugstoreManagement.Client.csproj.nuget.g.props
Client/obj/project.assets.json
Client/obj/project.nuget.cache
Server/bin/Debug/net5.0/MugstoreManagement.Client.dll
Server/bin/Debug/net5.0/MugstoreManagement.Client.pdb
Server/bin/Debug/net5.0/MugstoreManagement.Client.StaticWebAssets.xml
Server/bin/Debug/net5.0/MugstoreManagement.Server.dll
Server/bin/Debug/net5.0/MugstoreManagement.Server.pdb
Server/bin/Debug/net5.0/MugstoreManagement.Server.runtimeconfig.dev.json
Server/bin/Debug/net5.0/MugstoreManagement.Server.StaticWebAssets.xml
Server/bin/Debug/net5.0/MugstoreManagement.Server.Views.dll
Server/bin/Debug/net5.0/MugstoreManagement.Server.Views.pdb
Server/bin/Debug/net5.0/MugstoreManagement.Shared.dll
Server/bin/Debug/net5.0/MugstoreManagement.Shared.pdb
Server/obj/Debug/net5.0/MugstoreManagement.Server.assets.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.csproj.CoreCompileInputs.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.csproj.FileListAbsolute.txt
Server/obj/Debug/net5.0/MugstoreManagement.Server.csprojAssemblyReference.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.dll
Server/obj/Debug/net5.0/MugstoreManagement.Server.genruntimeconfig.cache
Server/obj/Debug/net5.0/MugstoreManagement.Server.MvcApplicationPartsAssemblyInfo.cs
Server/obj/Debug/net5.0/MugstoreManagement.Server.pdb
Server/obj/Debug/net5.0/MugstoreManagement.Server.Views.dll
Server/obj/Debug/net5.0/MugstoreManagement.Server.Views.pdb
Server/obj/Debug/net5.0/Razor/Areas/Identity/Pages/Shared/_LoginPartial.cshtml.g.cs
Server/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
Server/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Server.StaticWebAssets.Manifest.cache
Server/obj/Debug/net5.0/staticwebassets/MugstoreManagement.Server.StaticWebAssets.xml
Server/obj/MugstoreManagement.Server.csproj.nuget.dgspec.json
Server/obj/MugstoreManagement.Server.csproj.nuget.g.props
Server/obj/project.assets.json
Server/obj/project.nuget.cache
Shared/bin/Debug/net5.0/MugstoreManagement.Shared.dll
Shared/bin/Debug/net5.0/MugstoreManagement.Shared.pdb
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.AssemblyInfo.cs
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.assets.cache
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.csproj.FileListAbsolute.txt
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.csprojAssemblyReference.cache
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.dll
Shared/obj/Debug/net5.0/MugstoreManagement.Shared.pdb
Shared/obj/MugstoreManagement.Shared.csproj.nuget.dgspec.json
Shared/obj/MugstoreManagement.Shared.csproj.nuget.g.props
Shared/obj/project.assets.json
Shared/obj/project.nuget.cache
Client/bin/Debug/net5.0/wwwroot/service-worker.js
Client/bin/Debug/net5.0/wwwroot/service-worker-assets.js
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Shared.pdb
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Shared.dll.gz
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Shared.dll
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Client.pdb
Client/bin/Debug/net5.0/wwwroot/_framework/MugstoreManagement.Client.dll
Client/bin/Debug/net5.0/wwwroot/_framework/dotnet.5.0.5.js
Client/bin/Debug/net5.0/wwwroot/_framework/blazor.boot.json
Client/bin/Debug/net5.0/ref/MugstoreManagement.Client.dll
Client/bin/Debug/net5.0/MugstoreManagement.Client.StaticWebAssets.xml
Client/bin/Debug/net5.0/MugstoreManagement.Client.pdb
Client/bin/Debug/net5.0/MugstoreManagement.Client.dll
